<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="offset-2 col-8">
    <br><br>
  <h3>Create a New Listing</h3>
  <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
    <div>
      <label for="title" class="form-label">Title</label>
      <input  required name="listing[title]" type="text" placeholder="Add a Catchy title" class="form-control">
      <div class="valid-feedback">Title looks good</div>
    </div>
   
    <div>
      <label for="description" class="form-label">Description</label>
      <textarea required name="listing[description]" id="" cols="30" rows="10" placeholder="Enter description"
       class="form-control"></textarea>
       <div class="invalid-feedback">Please Enter a Short Description</div>
    </div>
    
    <div>
      <label for="image" class="form-label">Upload Image</label>
      <input  name="listing[image]" type="file"  class="form-control" >
      
    </div>
    
    <div>
      <label for="price" class="form-label">Price</label>
      <input required name="listing[price]"  placeholder="Enter price" class="form-control">
      <div class="invalid-feedback">Please Enter Valid price </div>
    </div>
    
    
    <div>
      <label for="location" class="form-label">Location</label>
      <input required name="listing[location]" type="text" placeholder="Enter location" class="form-control">
      <div class="invalid-feedback">Please Enter Valid Location</div>
    </div>
    
    <div>
      <label for="country" class="form-label">Country</label>
      <input required name="listing[country]" type="text" placeholder="Enter country" class="form-control">
      <div class="invalid-feedback">Please Enter Valid Country</div>
    </div>
    
    <br>
    <button class="btn btn-dark add-btn" type="submit">Add</button> <br><br>
  </form>
</div>

</div>
    
