<% layout("/layouts/boilerplate") %>

<div class="row">
    <h1 class="col-6 offset-3">SignUp On Wanderlust</h1>
    <div class="offset-3 col-6">
        <form method="post" action="/signup" class="needs-validation" novalidate>

            <div>
                <label for="username" class="form-label">Username</label>
                <input  required name="username" type="text" placeholder="Enter Username" class="form-control" id="username">
                <div class="valid-feedback"> Looks good</div>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input  required name="email" type="text" placeholder="Enter Email" class="form-control" id="email">
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input  required name="password" type="password" placeholder="Enter Password" class="form-control" id="password">
            </div>
            <br>
            <button class="btn btn-success">Signup </button>

        </form>
    </div>
</div>